.container-fluid{
    background-color:lightgray;
    margin-left: auto;
    margin-right: auto;
}
.nav-item{
   width: 10rem;
   text-align: center;
}

.dtyzbody{
    margin: 0px;
    background-image: url(../images/bodyimg.png);
    background-size: auto;
}

a {
    text-decoration: none;
    color:black;
}

.news{
    height: 400px;
    overflow: hidden;
}



.newsimg{
    height: 400px;
    
    
}
.imgslide{
    width: 80vw;
    height: 40vw;
    margin: 0 auto;
}
.slideimg {
    width: 80vw;
    height: 40vw;
}


.listbg{
    background-image: url(../images/newsbg.png);
    background-size: cover;
    
    

   
}
.newsli{
    margin-bottom: 20px;
}


.footer{
    width: 100%;
    background-color:rgb(30,30,28);
    color:rgb(165,165,164);
}

.Footer{
    background-color: rgb(30,30,28);
    height: 100px;

}

.foot {
   margin-left: 50px;
   line-height: 36px;
}


